body {
    background-color: darkslategray;
}

.list-striped li:nth-child(odd) {
    background-color: burlywood;
    border-color: transparent;
}

.list-striped li:nth-child(even) {
    background-color: darkgoldenrod;
    border-color: transparent;
}

.list-striped li {
    height: 4rem;
}