body {
    background-color: darkslategray;
}

#toDoField {
    background-color: goldenrod;
    border-color: darkgoldenrod;
    font-family: 'Edu SA Beginner', cursive;
}

#add {
    font-family: 'Edu SA Beginner', cursive;
}

.list-striped li {
    border-color: transparent;
    height: 4rem;
    font-family: 'Edu SA Beginner', cursive;
}

.list-striped li:nth-child(odd) {
    background-color: burlywood;
}

.list-striped li:nth-child(even) {
    background-color: darkgoldenrod;
}

#toDoList li:nth-child(odd) input {
    background-color: rgb(194, 163, 123);
    border-color: ghostwhite;
}

#toDoList li:nth-child(even) input {
    background-color: rgb(153, 115, 17);
    border-color: ghostwhite;
}